*.log
*.xls
*.xlsx
.~lock.*.xlsx#
*.pot
*.py[cod]
__pycache__/
db.sqlite3
db.sqlite3-journal
.env
sendgrid.env
00template-*.yaml
logo_cole.jpg
tinymce/
uploads/*/*
website/preprod.sh
website/prod.sh
website/static/uploads/*
!website/static/uploads/.gitkeep
