{% extends 'adminbase.html' %}

{% block content %}

<script src="{{ 'http://static.ampa.systemadmin.es/js/tinymce/tinymce.min.js' }}"></script>


<script type="text/javascript">
tinymce.init({
    selector: '#id_html_message',
    language: 'ca',
    menubar: false,
    plugins: "link image code lists image",
    toolbar: 'styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image link | undo redo | code',
    height: '550'
});
</script>

{% if parent_slug|length > 0 %}
<a href="{% url 'list.subpages' parent_slug=parent_slug%}"><i class="fas fa-backward"></i> llistat de pàgines</a>
{% else %}
<a href="{% url 'list.pages' %}"><i class="fas fa-backward"></i> llistat de pàgines</a>
{% endif %}

{% if page.slug %}
<div>
  {% if parent_slug|length > 0 %}
  <form style="display: inline;" action="{% url 'delete.subpage' parent_slug=parent_slug page_slug=page.slug %}" method="GET">
  {% else %}
  <form style="display: inline;" action="{% url 'delete.page' page_slug=page.slug %}" method="GET">
  {% endif %}
    <button style="margin-right: 10px;" class="float-right btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i> eliminar</button>
  </form>

  {% if parent_slug|length == 0 %}
  <form style="display: inline;" action="{% url 'add.subpage' parent_slug=page.slug %}" method="GET">
    <button style="margin-right: 10px;" class="float-right btn btn-primary" type="submit"><i class="fas fa-plus"></i> subpàgina</button>
  </form>
  {% endif %}
</div>
{% endif %}

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <br>
        <button class="btn btn-success" type="submit" name="guardar" >guardar</button>
    </form>
</div>

{% if page.children_pages.count > 0 %}
<h2>Subpàgines</h2>
<ul>
{% for subpage in page.children_pages.all %}
<li><a href="{% url 'edit.subpage' parent_slug=page.slug page_slug=subpage.slug %}">{{ subpage.title}}</a></li>
{% endfor %}
</ul>
{% endif %}


<script>

</script>

{% endblock %}