{% extends 'adminbase.html' %}


{% block content %}

{% if page_posts %}
  {% if parent_slug|length > 0 %}
  <a href="{% url 'list.subpages' parent_slug=parent_slug %}"><i class="fas fa-backward"></i> llistat de subpàgines</a>
  {% else %}
  <a href="{% url 'list.pages' %}"><i class="fas fa-backward"></i> llistat de pàgines</a>
  {% endif %}
  <br><br>
{% else %}
  {% if parent_slug|length > 0 %}
  <a href="{% url 'list.pages' %}"><i class="fas fa-backward"></i> llistat de pàgines</a>
  <br><br>
  {% endif %}
{% endif %}

<table class="table table-bordred table-striped">
  <thead>
    <tr>
      <th>Titol</th>
      <th>Estat</th>
      <th></th>
      <th>blog post</th>
    </tr>
  </thead>
  <tbody>
    {% for page in list_pages %}
      <tr>
        {% if page.is_post %}
          <!-- edit blog post -->
          <td><a href="{% url 'edit.post' post_id=page.id post_slug=page.slug %}">{{ page.title }}</a></td>
        {% else %}
          <!-- edit page -->
          {% if parent_slug|length > 0 %}
        <td><a href="{% url 'edit.subpage' parent_slug=parent_slug page_slug=page.slug %}">{{ page.title }}</a></td>
          {% else %}
        <td><a href="{% url 'edit.page' page_slug=page.slug %}">{{ page.title }}</a></td>
          {% endif %}
        {% endif %}

        <td>{{ page.get_status_display }}</td>
        
        {% if not page.is_post %}
          {% if page.parent %}
        <td><a href="{% url 'list.subpage.posts' parent_slug=parent_slug page_slug=page.slug %}"><i class="fas fa-list"></i> subpàgines</a></td>
          {% else %}
        <td><a href="{% url 'list.subpages' parent_slug=page.slug %}"><i class="fas fa-list"></i> subpàgines</a></td>
          {% endif %}
        {% else %}
        <td></td>
        {% endif %}

        <td>
          {{ page.is_post|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p></p>" | safe }}
        </td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>



{% if list_pages.has_other_pages %}
<hr/>
<ul class="pagination d-flex justify-content-center">
  {% if list_pages.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ list_pages.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
  {% endif %}
  {% for i in list_pages.paginator.page_range %}
    {% if list_pages.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }}</span></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if list_pages.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ list_pages.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% if not page_posts %}
  {% if parent_slug|length > 0 %}
  <form style="display: inline;" action="{% url 'add.subpage' parent_slug=parent_slug %}" method="GET">
  {% else %}
  <form style="display: inline;" action="{% url 'add.page' %}" method="GET">
  {% endif %}
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> pàgina</button>
  </form>
{% endif %}

{% if parent_slug|length > 0 %}
  {% if page_slug|length > 0 %}
    <form style="display: inline;" action="{% url 'add.subpage.post' parent_slug=parent_slug page_slug=page_slug %}" method="GET">
  {% else %}
    <form style="display: inline;" action="{% url 'add.page.post' page_slug=parent_slug %}" method="GET">
  {% endif %}
      <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> post</button>
    </form>
{% endif %}




{% endblock %}